<mat-card class="report-card card">
  <div class="report-report-card__fields">
    <div class="report-card__field">
      <p class="report-card__field--label">Report:</p>
      <p class="report-card__field--value">{{data.id}}</p>
    </div>
    <div class="report-card__field">
      <p class="report-card__field--label">Name:</p>
      <p class="report-card__field--value">{{data.name}}</p>
    </div>
    <div class="report-card__field">
      <p class="report-card__field--label">Network:</p>
      <p class="report-card__field--value">{{data.network}}</p>
    </div>
    <div class="report-card__field">
      <p class="report-card__field--label">Email:</p>
      <p class="report-card__field--value">{{data.email}}</p>
    </div>
    <div class="report-card__field">
      <p class="report-card__field--label">Aliases:</p>
      <p class="report-card__field--value">{{data.aliases.network}}</p>
    </div>
  </div>
  <div class="report-card__fields">
    <div class="report-card__field">
      <p class="report-card__field--label">Submitted by:</p>
      <p class="report-card__field--value">{{data.submittedBy}}</p>
    </div>
    <div class="report-card__field">
      <p class="report-card__field--label">Result:</p>
      <p class="report-card__field--value">{{data.result}}</p>
    </div>
    <div class="report-card__field">
      <p class="report-card__field--label">Proof:</p>
      <p class="report-card__field--value">{{data.proof}}</p>
    </div>
    <div class="report-card__field">
      <p class="report-card__field--label">Comments:</p>
      <p class="report-card__field--value">{{data.comments}}</p>
    </div>
    <div class="report-card__field">
      <p class="report-card__field--label">Votes:</p>
      <p class="report-card__field--value">{{data.votes}}</p>
    </div>
  </div>
</mat-card>
